[Unit]
Description=Gorai default network for hello-camera

[Network]
NetworkName=hello-camera-network
Driver=bridge

[Install]
WantedBy=default.target
